<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Placeholder</title>
</head>
<body>
    <style>
        h1{
            color: rgb(198, 194, 194);
        
        }
        td{
            color: rgb(109, 162, 162);
        }

    </style>
   
        <div class="container">
            <h1><% budgetAll.name %></h1>
   <table>
       
    <tr>
        <td> <p>&#128060 date &#128060</p> </td>
        <td> <%= budgetAll.date %> </td>
    </tr>
    <tr>
        <td> <p>&#128060 date &#128060</p> </td>
        <td> <%= budgetAll.date %> </td>
    </tr>
    <tr>
        <td> <p>&#128060 date &#128060</p> </td>
        <td> <%= budgetAll.date %> </td>
    </tr>
    <tr>
        <td> <p>&#128060 date &#128060</p> </td>
        <td> <%= budgetAll.date %> </td>
    </tr>
    <tr>
        <td> <p>&#128060 date &#128060</p> </td>
        <td> <%= budgetAll.date %> </td>
    </tr>
   </table>
   ,<a href="/budgets/"><button>Home</button></a>
</body>
</html>