<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Placeholder</title>
</head>
<body>
    <style>
        h1{
            color: rgb(198, 194, 194);
        
        }
        td{
            color: rgb(109, 162, 162);
        }

    </style>
   
        <div class="container">
            <h1><%= budgetAll.name %> </h1>

               <a href="/budgets/"><button>Home</button></a>
       
            <p><strong>date</strong></p>
            <p>
                <%= budgetAll.date %>
            </p>
            <p><strong>name</strong></p>
            <p>
                <%= budgetAll.name %>
            </p>
            <p><strong>form</strong></p>
            <p>
                <%= budgetAll.form %>
            </p>
            <p><strong>amount</strong></p>
            <p>
                <%= budgetAll.amount %>
            </p>
            <p><strong>tags</strong></p>
            <p>
                <%= budgetAll.tags %>
            </p>


</body>
</html>